In [ ]:
# 1. load map-location and convert its coord to WGS84

# 2. load GCJ-map-location and convert its coord to WGS84

# 3. load GCJ-corrected-map-location, process its name and convert its coord to WGS84

In [2]:
# from coordTransform_utils import *
import pandas as pd

file1 = './map-location.xlsx'
file2 = './GCJ-map-location.xlsx'
file3 = './GCJ_occrected_map-location.xlsx'

try:
    data3 = pd.read_excel(file3, engine='openpyxl')
    data2 = pd.read_excel(file2, engine='openpyxl')
    data1 = pd.read_excel(file1, engine='openpyxl')
except Exception as e:
    raise e

In [9]:

from coordTransform_utils import *

In [50]:
valid_data1 = data1[data1['错误'].isnull() == True].copy()
valid_data1['lng,lat'] = valid_data1.apply(
    lambda row: str(bd09_to_wgs84(row['经度'], row['纬度'])), axis=1)

In [ ]:
def parse_lat_lng(row):
    lag = row['纬度,经度'].split(',')
    return str(gcj02_to_wgs84(float(lag[0]),float(lag[1])))

In [64]:
print(data2[data2['纬度,经度'].isna() == True])
# valid_data2
valid_data2 = data2[data2['纬度,经度'].isna() == False].copy()

valid_data2['lng,lat'] = valid_data2.apply(
    lambda row: parse_lat_lng(row), axis=1)

valid_data2

             地址 纬度,经度  坐标系 解析结果                        错误信息
23     新外大街甲8号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
81     新外大街28号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
112      团结湖北头条   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
124    西黄城根南街一区   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
127    西黄城根45号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
158    新外大街10号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
160    新外大街31号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
288    新外大街21号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
324   新外大街甲25号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
353        西幸福街   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
403    新外大街15号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
432       北竹杆胡同   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
485  大羊宜宾胡同35号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
602    新外大街乙8号院   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR
613     新外大街18号   NaN  NaN  NaN  ENGINE_RESPONSE_DATA_ERROR

,地址,"纬度,经度",坐标系,解析结果,错误信息,"lng,lat"
0,龙翔路小区,"116.373306,39.980949",NaN,北京市海淀区龙翔路小区,NaN,"[116.36707269585092, 39.97955959523464]"
1,八角北路,"104.686169,31.484260",NaN,四川省绵阳市涪城区八角北路,NaN,"[104.68352907882314, 31.486520159142582]"
2,古城南路,"120.216851,27.322682",NaN,福建省宁德市福鼎市古城南路,NaN,"[120.2125579028455, 27.325881541853374]"
3,黄寺大街24号院,"116.385803,39.962738",NaN,北京市西城区黄寺大街24号院,NaN,"[116.37955841305707, 39.961337720190215]"
4,东大桥路,"116.426811,39.990948",NaN,北京市朝阳区东大桥路,NaN,"[116.42057516593901, 39.98955374448285]"
...,...,...,...,...,...,...
636,玉带河西街8号院,"116.658311,39.901932",NaN,北京市通州区玉带河西街8号院,NaN,"[116.65242222717364, 39.900826845726094]"
637,新风街甲1号,"109.516512,18.252323",NaN,海南省三亚市吉阳区新风街001号,NaN,"[109.51244073889525, 18.25404159935133]"
638,文慧园北路甲6号院,"116.362251,39.955009",NaN,北京市海淀区文慧园北路甲6号院,NaN,"[116.35603836632136, 39.95363514998]"
639,延静里中街3号院,"116.485741,39.916550",NaN,北京市朝阳区延静里中街3号院,NaN,"[116.47967935483084, 39.91528595963208]"
640,新苑街15号院,"116.318001,39.932701",NaN,北京市海淀区新苑街15号院,NaN,"[116.31188670845214, 39.93140767246116]"

In [69]:
valid_data3 = data3.copy()

valid_data3['lng,lat'] = valid_data3.apply(
    lambda row: parse_lat_lng(row), axis=1)

valid_data3['地址']= valid_data3.apply(
    lambda row: row['地址'][3:], axis=1)

valid_data3

,地址,"纬度,经度",坐标系,解析结果,错误信息,"lng,lat"
0,八角北路,"116.208341,39.917109",NaN,北京市石景山区八角北路,NaN,"[116.20225736770341, 39.91586279850019]"
1,古城南路,"116.186808,39.910922",NaN,北京市石景山区古城南路,NaN,"[116.18067212453279, 39.90964138016886]"
2,新明胡同,"116.375187,39.960322",NaN,北京市西城区新明胡同,NaN,"[116.36895383908058, 39.95893132032077]"
3,北礼士路,"116.353583,39.927083",NaN,北京市西城区北礼士路,NaN,"[116.34739029716759, 39.925723890553044]"
4,古城北路,"116.191652,39.918033",NaN,北京市石景山区古城北路,NaN,"[116.18552812581311, 39.91676059177084]"
...,...,...,...,...,...,...
100,新外大街乙8号院,"116.372214,39.962012",NaN,北京市西城区新外大街乙8号院,NaN,"[116.36598462166408, 39.96062462101821]"
101,新外大街18号,"116.371650,39.955113",NaN,北京市西城区新外大街|18号,NaN,"[116.36542229971565, 39.95372656411335]"
102,东方东路,"116.464538,39.953169",NaN,北京市朝阳区东方东路,NaN,"[116.45839746982256, 39.95184563295404]"
103,南华东街,"116.385529,39.882858",NaN,北京市西城区南华东街,NaN,"[116.37929481679893, 39.881461289787836]"
104,新风街甲1号,"116.377851,39.962722",NaN,北京市西城区新风街1号,NaN,"[116.37161426590984, 39.961328460221395]"

In [75]:
import pymongo
myclient = pymongo.MongoClient("mongodb://finder:finder@irinka.cn:26926/homefinder")
mydb = myclient["homefinder"]
def get_region(block):
    region=mydb["sales_records"].find_one({"block":block})
    return (region['region'],region['sub_region'])

In [ ]:
# print(valid_data1)
# print(valid_data2)
# print(valid_data3)
region_dic={}
for i in valid_data1['地址']:
    ans=get_region(i)
    region_dic[i]={'region':ans[0],'sub_region':ans[1]}
    print(region_dic[i])

In [ ]:
for i in valid_data2['地址']:
    ans=get_region(i)
    region_dic[i]={'region':ans[0],'sub_region':ans[1]}
    print(region_dic[i])

for i in valid_data3['地址']:
    ans=get_region(i)
    region_dic[i]={'region':ans[0],'sub_region':ans[1]}
    print(region_dic[i])

In [ ]:
print(region_dic)

In [86]:
block_region=open("./block_region.json",'w')
import json
json.dump(region_dic,block_region)

In [110]:
import re
ans = []


def parseLA(lng_lat):
    matchObj = re.match('\[(.*), (.*)\]', lng_lat, re.M | re.I)
    return float(matchObj.group(1)), float(matchObj.group(2))

def addItem(row):
    lng, lat = parseLA(row['lng,lat'])
    addr=row['地址']
    ans.append({'block':addr , 'region': region_dic[addr]['region'], 'sub_region': region_dic[addr]['sub_region'], 'lat': lat, 'lng': lng})

valid_data1.apply(lambda row:addItem(row),axis=1)
valid_data2.apply(lambda row:addItem(row),axis=1)
valid_data3.apply(lambda row:addItem(row),axis=1)

print(len(ans))

6522